WORDPRESS_URL="http://localhost/nextwp_cms_wordpress"
WORDPRESS_HOSTNAME="localhost"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET=K7vN2xQ9mR4pL8wF5zB1cD6hJ3sT0aY8uE5gM9nX2oI=

